font = Lato, "Helvetica Neue", Helvetica, Arial, sans-serif

body
	margin 0
	font-family font
	font-weight 100

#login-buttons *
	font-family font !important

img
	vertical-align middle
	width 16px
	height 16px

input[type='number']
	width 25px
	text-align center
	font-family font
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none
	margin 0
input[disabled]
	color #999
	background #eee
	border solid 1px #ccc

.card
	width 10px
	height 1em
	vertical-align middle
	display inline-block
	background #eee
	&.red
		background red
	&.yellow
		background #ee0

header
	padding 1em
	text-align right
	img
		width 35px
		height 50px
		float left
		margin 0 10px 0 0
	#details
		float left
		padding 3px 0
		text-align left

		#facts
			opacity .7
			color #999
			font-size smaller	

table
	width 100%
	border solid 2px #ccc
	border-collapse collapse
	border-spacing 0

	caption
		background #ddd
		color #999
		padding 4px
		text-align left

		b
			color #000

		.inputs
			margin-left 3em

	col
		&.prediction
			background #eee

	thead th
		color #999
		font-size 12px
		background #eee
		padding 3px 0

	tbody td
		white-space nowrap

	.current
		background #ffff54

	.score
		text-align center

	.code
		display inline-block
		width 40px

	.team1
		text-align right
	.team2
		text-align left

	.team1, .team2
		font-weight 400

section
	margin 0 auto 2em auto
	max-width 750px
	min-width 380px

#currentMatch
	margin 0 auto
	text-align center
	padding 2em

	table
		width 100%
		border none
		margin 0 auto

		td
			width 33%
			text-align left
			font-size 24px
			white-space nowrap
		td:nth-child(2)
			text-align center
		td:last-child
			text-align right

	img
		width 64px
		height 64px

	input
		font-size 24px
		width 40px
		background none
		border none

#leaderboard
	margin 0 auto
	text-align center

	ol
		max-width 300px
		margin 0 auto
		padding 3px 0
		list-style-position outside

		li.moving
			-webkit-animation swap linear .3s

		li
			background #eee
			text-align left
			padding 2px 0
			margin 0 0 4px 0
			border-radius 10px
			color #999
			.points
				width 50px
				text-align center
				background #ddd
				padding 4px
				border-radius 50%
				font-weight bold
				color black
			.name, .pred
				color black

			&.nth-child(1) .points
				background gold
			&.nth-child(2) .points
				background silver
			&.nth-child(3) .points
				background bronze

@-webkit-keyframes swap
	from
		opacity 0
	50%
		opacity 1
	to
		opacity 0

.tabs
	list-style none
	margin 0
	padding 0

	li
		display inline-block
		margin 0 2px 0 0
		background #eee
		padding 4px 1em
		cursor pointer

		&:hover, &.selected
			background #ddd





@media all and (max-width: 510px)
	#currentMatch
		h2, table td
			font-size 16px
		img
			width 32px
			height 32px
