font = Lato, "Helvetica Neue", Helvetica, Arial, sans-serif

body
	margin 0
	font-family font
	font-weight 100

#login-buttons *
	font-family font !important

img
	vertical-align middle
	width 16px
	height 16px

input[type='number']
	width 25px
	text-align center
	font-family font
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none
	margin 0
input[disabled]
	color #999
	background #eee
	border solid 1px #ccc

header
	position absolute
	top 1em
	right 1em
	img
		width 35px
		height 50px
		float left
		margin 0 10px 0 0

table
	width 100%
	border solid 2px #ccc
	border-collapse collapse
	border-spacing 0

	caption
		background #ddd
		color #999
		padding 4px
		text-align left

		b
			color #000

		.inputs
			margin-left 3em

	col
		&.prediction
			background #eee

	thead th
		color #999
		font-size 12px
		background #eee
		padding 3px 0

	tbody td
		white-space nowrap

	.current
		background #ffff54

	.score
		text-align center

	.code
		display inline-block
		width 40px

	.team1
		text-align right
	.team2
		text-align left

	.team1, .team2
		font-weight 400

section
	margin 0 auto 2em auto
	max-width 750px
	min-width 380px

#currentMatch
	margin 0 auto
	text-align center
	padding 4em 4em 2em

	table
		width 500px
		border none
		margin 0 auto

		td
			width 33%
			text-align left
			font-size 24px
		td:nth-child(2)
			text-align center
		td:last-child
			text-align right

	img
		width 64px
		height 64px

	input
		font-size 24px
		width 40px
		background none
		border none

#leaderboard
	margin 0 auto
	text-align center

	ol
		margin 0
		padding 0
		list-style-position inside

.tabs
	list-style none
	margin 0
	padding 0

	li
		display inline-block
		margin 0 10px 0 0
		background #eee
		padding 4px 8px
		cursor pointer

		&:hover, &.selected
			background #ddd





@media all and (max-width: 510px)
	#currentMatch
		h2
			font-size 16px
		img
			width 32px
			height 32px
