font = Lato, "Helvetica Neue", Helvetica, Arial, sans-serif

body
	margin 0
	font-family font
	font-weight 100
	background -webkit-linear-gradient(top, transparent, rgba(255,255,255,.8) 600px), url(http://www.forzaarena.com/img/forza/1.jpg)
	background -moz-linear-gradient(top, transparent, rgba(255,255,255,.8) 600px), url(http://www.forzaarena.com/img/forza/1.jpg)
	background -ms-linear-gradient(top, transparent, rgba(255,255,255,.8) 600px), url(http://www.forzaarena.com/img/forza/1.jpg)
	background linear-gradient(top, transparent, rgba(255,255,255,.8) 600px), url(http://www.forzaarena.com/img/forza/1.jpg)
	background-color #9c9
	background-size cover
	background-repeat no-repeat

#login-buttons *
	font-family font !important

img
	vertical-align middle
	width 16px
	height 16px

input
	font-family font
	border none
	background rgba(255,255,255,.8)
input[type='number']
	width 25px
	text-align center
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance none
	margin 0
input[disabled]
	color #999
	background #fff
	border none

h1, h3
	color rgba(0,0,0,.7)
h2
	text-transform uppercase
h3
	font-weight 100

.card
	width 10px
	height 1em
	vertical-align middle
	display inline-block
	background #fff
	&.red
		background red
	&.yellow
		background gold

header
	padding 1em
	text-align right
	img
		width 35px
		height 50px
		float left
		margin 0 10px 0 0

#details
	max-width 300px
	margin 0 auto 2em auto
	text-align left
	font-size smaller

	th:first-child
		white-space nowrap
	td:last-child input
		width 60px

	#facts
		opacity .5

table
	width 100%
	border none
	border-collapse collapse
	border-spacing 0

	caption
		background rgba(255,255,255,.8)
		border-bottom solid 1px rgba(0,0,0,.1)
		color rgba(0,0,0,.5)
		padding 1em
		text-align left

		b
			color #000

		.inputs
			margin-left 3em

	thead th
		text-align center
		color rgba(0,0,0,.5)
		font-weight normal
		font-size 12px
		background rgba(255,255,255,.8)
		padding 5px

	tbody tr
		border-bottom solid 1px rgba(0,0,0,.1)
		background rgba(255,255,255,.5)

	tbody td
		white-space nowrap
		padding 3px

	.current
		background #ffff54

	.score
		text-align center

	.code
		display inline-block
		width 40px

	.team1
		text-align right
	.team2
		text-align left

	.team1, .team2
		font-weight 400

section
	margin 0 auto
	max-width 750px
	min-width 380px

#currentMatch
	text-align center
	margin 0 auto
	padding 1em

	table
		width 100%
		border none
		margin 0 auto

		td
			width 33%
			text-align left
			font-size 24px
			white-space nowrap
		td:nth-child(2)
			text-align center
		td:last-child
			text-align right

	img
		width 64px
		height 64px

		&:first-child
			margin-right 1em
		&:last-child
			margin-left 1em

	input
		font-size 24px
		width 40px
		background none
		border none

#leaderboard
	margin 0 auto 2em auto
	padding 1em
	text-align center

	ol
		max-width 300px
		margin 0 auto
		padding 3px 0
		list-style none

		li.moving
			-webkit-animation swap linear .3s

		li
			background rgba(255,255,255,.5)
			text-align left
			padding 2px 0 2px 4px
			margin 0 0 4px 0
			color rgba(0,0,0,.5)
			.points
				width 50px
				text-align center
				background #ddd
				padding 4px
				border-radius 50%
				font-weight bold
				color black
			.name, .pred
				color black

			&:nth-child(1) .points
				background gold
			&:nth-child(2) .points
				background silver
			&:nth-child(3) .points
				background bronze

@-webkit-keyframes swap
	from
		opacity 0
	50%
		opacity 1
	to
		opacity 0

.tabs
	list-style none
	margin 0
	padding 0

	li
		display inline-block
		margin 0 2px 0 0
		background rgba(255,255,255,.5)
		padding 4px 1em
		cursor pointer

		&:hover, &.selected
			background rgba(255,255,255,.8)





@media all and (max-width: 510px)
	#currentMatch
		h2, table td
			font-size 16px
		img
			width 32px
			height 32px
